# Linear Regression Multiple variables

In [1]:
import pandas as pd
from sklearn import linear_model

In [9]:
df=pd.read_excel(r"D:\wscubetech\ML\insurance1.xlsx")

In [10]:
df

   Age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40     NaN     110    60000
4   45  157.48      85    70000

In [13]:
mean_height=df.height.mean()

In [14]:
df.height=df.height.fillna(mean_height)

In [15]:
df

   Age  height  weight  premium
0   25  162.56      70    18000
1   30  172.72      95    38000
2   35  167.64      78    38000
3   40  165.10     110    60000
4   45  157.48      85    70000

In [16]:
reg=linear_model.LinearRegression()

In [21]:
reg.fit(df[['Age','height','weight']],df[['premium']])

LinearRegression()

In [22]:
reg.coef_

array([[2150.26052416, -248.45851574,  312.65291961]])

In [24]:
reg.intercept_

array([-16827.01315482])

In [25]:
reg.predict([[27,167.56,60]])

C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[18357.48727691]])

In [26]:
2150.26052416*27+ -248.45851574*167.56+  312.65291961*60+-16827.01315482

18357.4872767056

In [28]:
reg.predict([[60,165.10,80]])

C:\Users\dell\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([[96180.35091498]])

In [29]:
2150.26052416*60+ -248.45851574*165.10+  312.65291961*80+-16827.01315482

96180.350914906