# Naive Bayes classifier algorithm

In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv(r"D:\wscubetech\ML\Social_Network_Ads.csv")

In [3]:
dataset

      User ID  Gender  Age  EstimatedSalary  Purchased
0    15624510    Male   19            19000          0
1    15810944    Male   35            20000          0
2    15668575  Female   26            43000          0
3    15603246  Female   27            57000          0
4    15804002    Male   19            76000          0
..        ...     ...  ...              ...        ...
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

[400 rows x 5 columns]

In [6]:
x=dataset.iloc[:,1:4].values

In [7]:
x

array([['Male', 19, 19000],
       ['Male', 35, 20000],
       ['Female', 26, 43000],
       ...,
       ['Female', 50, 20000],
       ['Male', 36, 33000],
       ['Female', 49, 36000]], dtype=object)

In [10]:
y=dataset.iloc[:,-1].values

In [11]:
y

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1,
       0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       0, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1], dtype=int64)

In [12]:
from sklearn.preprocessing import LabelEncoder

In [13]:
le=LabelEncoder()

In [14]:
x[:,0]=le.fit_transform(x[:,0])

In [15]:
x

array([[1, 19, 19000],
       [1, 35, 20000],
       [0, 26, 43000],
       ...,
       [0, 50, 20000],
       [1, 36, 33000],
       [0, 49, 36000]], dtype=object)

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [19]:
len(x_train)

320

In [20]:
len(x_test)

80

In [21]:
from sklearn.naive_bayes import GaussianNB

In [22]:
model=GaussianNB()

In [23]:
model.fit(x_train,y_train)

GaussianNB()

In [24]:
model.predict(x_test)

array([1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0], dtype=int64)

In [25]:
x_test

array([[1, 47, 34000],
       [0, 46, 82000],
       [0, 37, 80000],
       [0, 37, 93000],
       [0, 39, 59000],
       [0, 43, 133000],
       [0, 27, 54000],
       [1, 46, 23000],
       [0, 33, 41000],
       [1, 48, 33000],
       [0, 28, 85000],
       [1, 49, 65000],
       [1, 32, 120000],
       [0, 18, 44000],
       [0, 57, 33000],
       [0, 32, 150000],
       [0, 42, 70000],
       [1, 49, 86000],
       [1, 49, 89000],
       [1, 46, 28000],
       [1, 49, 28000],
       [1, 35, 27000],
       [0, 26, 72000],
       [0, 55, 130000],
       [0, 22, 63000],
       [1, 60, 42000],
       [0, 60, 108000],
       [1, 42, 64000],
       [0, 29, 28000],
       [0, 38, 50000],
       [0, 27, 96000],
       [0, 31, 71000],
       [1, 32, 18000],
       [0, 36, 54000],
       [1, 39, 71000],
       [1, 35, 75000],
       [0, 50, 20000],
       [1, 40, 75000],
       [0, 32, 117000],
       [0, 38, 55000],
       [1, 37, 52000],
       [1, 35, 88000],
       [1, 46, 59000],
       [1, 37, 70000],
       [0, 59, 42000],
       [1, 45, 79000],
       [0, 36, 63000],
       [0, 35, 23000],
       [0, 26, 80000],
       [0, 28, 55000],
       [0, 34, 72000],
       [0, 32, 117000],
       [0, 24, 89000],
       [0, 26, 15000],
       [1, 33, 31000],
       [0, 33, 69000],
       [1, 20, 49000],
       [1, 30, 15000],
       [1, 30, 49000],
       [0, 37, 71000],
       [1, 19, 25000],
       [0, 54, 104000],
       [0, 20, 82000],
       [0, 35, 71000],
       [0, 41, 51000],
       [1, 25, 80000],
       [1, 26, 86000],
       [0, 39, 79000],
       [1, 26, 81000],
       [0, 38, 112000],
       [0, 48, 131000],
       [1, 56, 133000],
       [0, 39, 134000],
       [0, 48, 119000],
       [1, 40, 59000],
       [1, 35, 79000],
       [0, 18, 68000],
       [1, 18, 52000],
       [1, 54, 70000],
       [0, 39, 61000]], dtype=object)

In [26]:
model.score(x_test,y_test)

0.8625