# Support vector Machine Algorithm

In [2]:
import pandas as pd
import seaborn as sns

In [3]:
dataset=sns.load_dataset("iris")

In [4]:
dataset

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [5]:
x=dataset.iloc[:,0:4]

In [6]:
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

In [7]:
y=dataset.iloc[:,4]

In [8]:
y

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [11]:
len(x_train)

120

In [12]:
len(x_test)

30

In [13]:
from sklearn.svm import SVC

In [14]:
model=SVC(kernel='linear')

In [15]:
model.fit(x_train,y_train)

SVC(kernel='linear')

In [16]:
model.predict(x_test)

array(['setosa', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica', 'versicolor',
       'virginica', 'virginica', 'setosa', 'virginica', 'virginica',
       'virginica', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'versicolor', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'setosa', 'virginica', 'versicolor', 'versicolor', 'virginica'],
      dtype=object)

In [17]:
x_test

     sepal_length  sepal_width  petal_length  petal_width
41            4.5          2.3           1.3          0.3
19            5.1          3.8           1.5          0.3
58            6.6          2.9           4.6          1.3
59            5.2          2.7           3.9          1.4
22            4.6          3.6           1.0          0.2
137           6.4          3.1           5.5          1.8
0             5.1          3.5           1.4          0.2
39            5.1          3.4           1.5          0.2
139           6.9          3.1           5.4          2.1
52            6.9          3.1           4.9          1.5
148           6.2          3.4           5.4          2.3
77            6.7          3.0           5.0          1.7
24            4.8          3.4           1.9          0.2
128           6.4          2.8           5.6          2.1
147           6.5          3.0           5.2          2.0
113           5.7          2.5           5.0          2.0
46            5.1          3.8           1.6          0.2
71            6.1          2.8           4.0          1.3
13            4.3          3.0           1.1          0.1
68            6.2          2.2           4.5          1.5
88            5.6          3.0           4.1          1.3
107           7.3          2.9           6.3          1.8
96            5.7          2.9           4.2          1.3
60            5.0          2.0           3.5          1.0
106           4.9          2.5           4.5          1.7
26            5.0          3.4           1.6          0.4
149           5.9          3.0           5.1          1.8
63            6.1          2.9           4.7          1.4
91            6.1          3.0           4.6          1.4
116           6.5          3.0           5.5          1.8

In [18]:
model.score(x_test,y_test)

0.9666666666666667