In [1]:
import pandas as pd

In [13]:
df=pd.read_csv("insurance.csv")

In [14]:
df

   age  premium
0   25    18000
1   30    32000
2   35    42000
3   40    47000
4   45    55000

In [15]:
x=df['age']

In [16]:
y=df['premium']

In [17]:
x

0    25
1    30
2    35
3    40
4    45
Name: age, dtype: int64

In [18]:
y

0    18000
1    32000
2    42000
3    47000
4    55000
Name: premium, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split

In [41]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [42]:
x_train

4    45
2    35
0    25
1    30
Name: age, dtype: int64

In [43]:
x_test

3    40
Name: age, dtype: int64

In [44]:
y_train

4    55000
2    42000
0    18000
1    32000
Name: premium, dtype: int64

In [45]:
y_test

3    47000
Name: premium, dtype: int64